<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Responsive Table with DataTables</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css'>
<link rel='stylesheet' href='https://cdn.datatables.net/plug-ins/f2c75b7247b/integration/bootstrap/3/dataTables.bootstrap.css'>
<link rel='stylesheet' href='https://cdn.datatables.net/responsive/1.0.4/css/dataTables.responsive.css'>

      <link rel="stylesheet" href="css/style.css">


</head>

<body>
  <div class="topnav">
    <a href="/admin/check/" >Bookings</a>
    <a href="/department">Department Wise Bookings</a>
    <a href="/feedbacks">FeedBacks</a>
    <a href="/aboutus">About us</a>
  </div>
  <link rel="stylesheet" href="/css/index.css">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <div class="header">
  <h1>Meeting Room Booking</h1>

  </div>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <table summary="This table shows how to create responsive tables using Datatables' extended functionality" class="table table-bordered table-hover dt-responsive">
        <thead>
          <tr>
            <th>Username</th>
            <th>Roomname</th>
            <th>Location</th>
            <th>Date</th>
            <th>comment</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          {{#each data}}
          <tr>
            <td>{{this.username}}</td>
            <td>{{this.room_name}}</td>
            <td>{{this.location}}</td>
            <td>{{this.date}}</td>
            <td>{{this.comment}}</td>
            <td>
              <a href="/approve/{{this._id}}">
                <span class="glyphicon glyphicon-ok"></span>
              </a>
              <a href="/reject/{{this._id}}">
                <span class="glyphicon glyphicon-remove text-danger"></span>
              </a>
            </td>
          </tr>
          {{/each}}
        </tbody>
        <tfoot>
          <tr>
            <th>Username</th>
            <th>Roomname</th>
            <th>Location</th>
            <th>Date</th>
            <th>comment</th>
            <th>Action</th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>


  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='https://cdn.datatables.net/1.10.5/js/jquery.dataTables.min.js'></script>
<script src='https://cdn.datatables.net/plug-ins/f2c75b7247b/integration/bootstrap/3/dataTables.bootstrap.js'></script>
<script src='https://cdn.datatables.net/responsive/1.0.4/js/dataTables.responsive.js'></script>



    <script  src="/js/index.js"></script>




</body>

</html>
